#real-time-filter {
    width: 70%;
    margin: 0 auto;
}
input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}
#photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.photo {
    width: 45%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}
.photo img {
    width: 100%;
}
.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
	#real-time-filter {
        width: 90%;
    }
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 25px;
    }
    #note {
        font-size: 13px;
    }
    input {
        height: 20px;
    }
	#real-time-filter {
        width: 95%;
    }
    #photos {
        display: block;
    }
    .photo {
        width: 95%;
        margin: 0 auto;
    }
}